<section class="bg-section">
    <div class="container">
      <h2 class="text-color h2 text-center mb-8">用專業的心，做專業的事</h2>
          <ul class="row">
            <li class="d-flex flex-column align-center col-3 col-md-6 col-sm-12">
              <span class="mb-6 icon material-icons-outlined">paid</span>
              <h4 class="mb-2 text-color h4">單一價格</h4>
              <p >無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </li>
            <li class="d-flex flex-column align-center col-3 col-md-6 col-sm-12">
              <span class="mb-6 icon material-icons-outlined">watch_later</span>
              <h4 class="mb-2 text-color h4">20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </li>
            <li class="d-flex flex-column align-center col-3 col-md-6 col-sm-12">
              <span class="mb-6 icon material-icons-outlined">favorite_border</span>
              <h4 class="mb-2 text-color h4">安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </li>
            <li class="d-flex flex-column align-center col-3 col-md-6 col-sm-12">
              <span class="mb-6 icon material-icons-outlined">voicemail</span>
              <h4 class="mb-2 text-color h4">關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </li>
          </ul>
    </div>
  </section>