<footer class="footer bg-primary pt-12">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-between mb-8">
                    <div>
                        <ul class="footer-item d-flex">
                            <li><a href="../pages/index.html">首頁</a></li>
                            <li><a href="#">系列鏡框</a></li>
                            <li><a href="../pages/stronghold.html">門市據點</a></li>
                            <li><a href="#">部落格</a></li>
                            <li><a href="#">常見問題</a></li>
                        </ul>
                        <ul class="footer-contact block">
                            <li class="mb-2">
                                <span class="footer-icon material-symbols-outlined">call</span>
                                <a href="tel:+080000000" class="contact-link h3">
                                    0800-000-00
                                </a>
                            </li>
                            <li>
                                <span class="footer-icon material-symbols-outlined">
                                    mail
                                    </span>
                                <a href="mailto:glasses@business.co" class="contact-link h3">glasses@business.co</a>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul class="d-flex gap-8">
                            <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="facebook" class="footer-social-icon"></a></li>
                            <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="instagram" class="footer-social-icon"></a></li>
                            <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line" class="footer-social-icon"></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="mb-8">
                <div class="footer-article d-flex justify-between mb-8">
                    <p>Copyright &copy; 2020 Glasses.All rights reserved.</p>
                    <ul class="d-flex article">
                        <li><a href="#" class="small">隱私權政策</a></li>
                        <li><a href="#" class="small">服務條款</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>