<div class="container">
    <div class="row">
        <div class="store-mt col">
            <h2 class="stronghold-title h2">門市據點</h2>
            <div class="select">
                <label for="taipei" class="label-title h4">選擇分店</label>
                <select name="taipei" id="taipei" class="select-style">
                    <option value="zhongshan">台北中山旗艦店</option>
                    <option value="greenpark">台北綠園店</option>
                </select>
            </div>
        </div>
        <div class="store-item col-5 col-sm-12">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/storepage-1.png?raw=true" alt="">
            <h4 class="h4">台北中山旗艦店</h4>
            <ul class="store-info">
                <li class="info-content">
                    <span class="material-symbols-outlined">call</span>
                    <a href="tel:+02-0001234" class="fs-1">電話：(02)000-1234</a>
                </li>
                <li class="info-content">
                    <span class="material-symbols-outlined">schedule</span>
                    <p class="inline fs-1">營業時間：10:00-21:00</p>
                </li>
                <li class="info-content">
                    <span class="material-symbols-outlined">location_on</span>
                    <p class="inline fs-1">地址：台北市中山區南京東路25巷2-1號</p>
                </li>
            </ul>
        </div>
        <div class="store-item col-7 col-sm-12">
            <img src="../assets/images/map.png" alt="map">
        </div>
    </div>   
</div>